@page "/"
@using TodoList.Models;
@inject SessionsService sessionsService
@inject ListsService listsService
@inject NavigationManager navigationManager

<h1 style="text-align: center;">Welcome @sessionsService.session.username to Todo List</h1>
<div>
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex;">
            <img @onclick="AddNewList" style="width: 30px; height: 30px; margin-left: 12px; margin-top: 10px; cursor: pointer;" src="addlist.png" />
            <MudTextField T="string" FullWidth="true" Placeholder="New Title" @bind-Value="@NewName" Style="margin: 0 10px;"></MudTextField>
        </div>
    </div>
</div>
<hr />
<ul>
    @foreach (var list in MySortedLists.Values)
    {
        <li>
            <div style="display: flex; justify-content: space-between">
                <div style="display: flex;">
                    <div>
                        <img @onclick="() => { ManageList(list); }" class="list-pic" src="todolist.png" />
                    </div>
                    <div>
                        <h4>@list.Name</h4>
                        <small>Last updated: @list.TimeCreate.ToString()</small>
                    </div>
                </div>
                <div>
                    <img @onclick="() => { ShowMore(list); }" src="more.png" style="width: 30px; height: 30px; cursor: pointer;" />
                </div>
            </div>
            <div @onclick="async () => { await DeleteListAsync(list); }" style="background-color: red; text-align: center; height: @list.DeleteHeight; transition: height 0.5s; cursor: pointer;">
                <img style="width: 30px; height: 30px;" src="trash.png" />
            </div>
            <hr />
        </li>
    }
</ul>


@code {
    string NewName = string.Empty;
    string username;
    SortedList<Tuple<DateTime, string>, ToDoList> MySortedLists = new(new DescendingComparer<Tuple<DateTime, string>>());


    protected override async Task OnInitializedAsync()
    {
        if (sessionsService.session.logged)
        {
            username = sessionsService.session.username;
            var res = listsService.GetLists(username);
            if (res.success)
            {
                foreach (var list in res.lists)
                {
                    MySortedLists.Add(new(list.TimeCreate, list.ListId), list);
                }
                return;
            }
            else
            {
                navigationManager.NavigateTo("/log");
            }
        }
        navigationManager.NavigateTo("/log");

    }

    private async Task AddNewList()
    {
        if (string.IsNullOrWhiteSpace(NewName))
        {
            return;
        }
        NewName = NewName.Trim();
        ToDoList NewList = new() { Owner = new() { username = sessionsService.session.username }, Name = NewName };
        MySortedLists.Add(new(NewList.TimeCreate, NewList.ListId), NewList);
        await listsService.CreateNewListAsync(sessionsService.session.username, NewList);
        NewName = string.Empty;
    }

    private void ManageList(ToDoList list)
    {
        navigationManager.NavigateTo($"/list/{list.ListId}/{list.Name}");
    }

    private void ShowMore(ToDoList list)
    {
        if (list.DeleteHeight == "0")
        {
            list.DeleteHeight = "30px";
        }
        else
        {
            list.DeleteHeight = "0";
        }
    }

    private async Task DeleteListAsync(ToDoList list)
    {
        MySortedLists.Remove(new(list.TimeCreate, list.ListId));
        await listsService.DeleteListAsync(username, list.ListId);
    }

    partial class DescendingComparer<TKey> : IComparer<Tuple<DateTime, string>>
    {
        public int Compare(Tuple<DateTime, string> x, Tuple<DateTime, string> y)
        {
            var a = y.Item1.CompareTo(x.Item1);
            if (a != 0)
            {
                return a;
            }
            return x.Item2.CompareTo(y.Item2);
        }
    }
}
